<div class="full-height" ng-controller="hiscores as hiscores">
  <div class="all-cards">
    <div ng-repeat="card in hiscores.shuffled track by card.id" class="holds-card">
      <img class="card" ng-click='hiscores.cardClicked(card.id)' ng-src='/static/images/{{ card.flipped ? card.animal : hiscores.back }}'>
    </div>
  </div>
  <div class="white-screen"></div>
  <div class="facade full-height">
    <div class="holds-title">
      <a href='/memory/play'>Play</a>
    </div>
    <div class="holds-hiscores">
      <div class="scrolling">
        <h1>Hi Scores</h1>
        <div class="row">
          <div class="col-3">
            <h4>Initials</h4>
          </div>
          <div class="col-3">
            <h4>Turns</h4>
          </div>
          <div class="col-6">
            <h4>Seconds of Play</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>