<div class="full-height" ng-controller="play as play">
  <div class="all-cards">
    <div ng-repeat="card in play.shuffled track by card.id" class="holds-card">
      <img class="card" ng-click='play.cardClicked(card.id)' ng-src='/static/images/{{ card.flipped ? card.animal : play.back }}'>
    </div>
  </div>
  <div class="white-screen" ng-hide="play.startScreen">
    <div class="start-count">
      <h1>{{play.startCount}}</h1>
    </div>
  </div>
  <div class="white-screen" ng-hide="play.endScreen">
    <div>
      <h1>Dope. Your game took {{play.turns}} turn{{play.turns === 1 ? '' : 's'}} and lasted {{play.elapsedTime / 1000 | number:0 }} seconds. {{ play.newHiScore ? 'That there is a new high score!' : ''}}</h1>
    </div>
    <div ng-show="play.newHiScore">
      <input type="text">
    </div>
    <div>
      <button ng-click='play.submitHiScore()'>unk</button>
      <a href='/memory/play'>Play</a>
    </div>
  </div>
</div>