body {
  color: #403643;
  background-image: url('../../images/leaf.jpg');
  background-size: cover;
  font-family: 'Josefin Slab';
}
.one-card img {
  max-width: 100%;
  max-height: 33vh;
}
.all-cards {
  text-align: center;
}
.hi-scores-head-and-foot {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hi-scores {
  text-align: center;
}
.hi-scores header {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hi-scores header a {
  color: #403643;
  text-decoration: none;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 1% 4% 2% 4%;
}
.hi-scores header a:hover {
  background-color: #403643;
  color: white;
}
.hi-scores header h1 {
  line-height: 12px;
}
.hi-scores footer {
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hi-scores footer a {
  text-decoration: none;
  color: #403643;
}
#scores {
  height: 60%;
  overflow: hidden;
}
.scrolling {
  position: relative;
  text-align: center;
}
.white-screen {
  width: 100%;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 0;
}
